In [1]:
import imp_functions

In [2]:
from imp_functions import basic_profile

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("F:/Hackathons/AV_Machine Learing starter/train_HK6lq50.csv")

In [6]:
basic_profile(df)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


Basic information of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73147 entries, 0 to 73146
Data columns (total 16 columns):
id                           73147 non-null object
program_id                   73147 non-null object
program_type                 73147 non-null object
program_duration             73147 non-null int64
test_id                      73147 non-null int64
test_type                    73147 non-null object
difficulty_level             73147 non-null object
trainee_id                   73147 non-null int64
gender                       73147 non-null object
education                    73147 non-null object
city_tier                    73147 non-null int64
age                          45418 non-null float64
total_programs_enrolled      73147 non-null int64
is_handicapped               73147 non-null object
trainee_engagement_rating    73070 non-null float64
is_pass                      73147 non-null int64
dtypes: float64(2), int64(6), object(8)
memory usage: 8.9+ MB
None
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


Generate descriptive statistics

       program_duration       test_id    trainee_id     city_tier  \
count      73147.000000  73147.000000  73147.000000  73147.000000
mean         128.208676     91.079306   9843.079620      2.246845
std            6.889679     51.239048   5703.556093      1.011587
min          117.000000      0.000000      1.000000      1.000000
25%          121.000000     45.000000   5040.000000      1.000000
50%          131.000000     90.000000   9641.000000      2.000000
75%          134.000000    135.000000  14552.000000      3.000000
max          136.000000    187.000000  20098.000000      4.000000

                age  total_programs_enrolled  trainee_engagement_rating  \
count  45418.000000             73147.000000               73070.000000
mean      36.494033                 2.583934                   2.395634
std        9.041119                 1.240816                   1.325288
min       17.000000                 1.000000                   1.000000
25%       28.000000                 2.000000                   1.000000
50%       39.000000                 2.000000                   2.000000
75%       45.000000                 3.000000                   4.000000
max       63.000000                14.000000                   5.000000

            is_pass
count  73147.000000
mean       0.695408
std        0.460238
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


The shape of the dataset is (rows x columns): (73147, 16)


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


The types of column present in the dataset are :
float64    2
int64      6
object     8
dtype: int64


~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Columns with str data : Index(['id', 'program_id', 'program_type', 'test_type', 'difficulty_level',
       'gender', 'education', 'is_handicapped'],
      dtype='object')
Columns with numerical data Index(['program_duration', 'test_id', 'trainee_id', 'city_tier', 'age',
       'total_programs_enrolled', 'trainee_engagement_rating', 'is_pass'],
      dtype='object')
Columns with categorical data Index([], dtype='object')


		END

F:\Hackathons\hackathon_starter_pack\imp_functions.py:26: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  print(data.get_dtype_counts(),'\n\n')